__pycache__/
*.pyc
data/
download/
download_flat/
.env
test_temp/

# Игнорировать все файлы в presets/users/
presets/user_presets/*
# Но не игнорировать example.json
!presets/user_presets/example.json
